::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/images/photos/STV_2068.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hosanna {
    width: 50px;
    cursor: pointer;
}

.action-btn {
    text-decoration: none;
    background-color: #1ec3ff;
    color: #fff;
    padding: 7px 25px;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s;
}

.action-btn:hover {
    transform: scale(1.2);
}

.action-btn:active {
    transform: scale(1);
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #1ec3ff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.navbar .toggle-btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 32px;
    margin: 25px 5px;

    font-weight: 100;
}

.content a {
    display: inline-block;
    width: 180px;
    padding: 7px 1px;
    text-align: center;
    margin: 5px 15px;
    border-radius: 25px;
    border: 2px solid #1ec3ff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.3s;
}

.content a:hover {
    transform: scale(1.1);
}

.content a:active {
    transform: scale(1);
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 80px;
    height: 0;
    width: 200px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    z-index: 999;
}

.dropdown-menu.open {

    height: 200px;
    padding: 20px 5px 5px 5px;
}

.dropdown-menu .option a {
    text-decoration: none;
    color: #949494;

    transition: transform 0.3s;
}

.dropdown-menu .option a:hover {
    transform: scale(1.2);
}

.dropdown-menu .option a:active {
    transform: scale(1);
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-section {
    padding: 25px;
    background-color: #1ec3ff;
    text-align: center;
}

.social-section h3 {
    font-size: 32px;
    margin: 10px;
    padding: 5px;
}

.social-section i {
    font-size: 3rem;
    color: #000000;
    margin: 15px;
    transition: transform 0.3s;
}

.social-section i:hover {
    transform: scale(1.2);
}

.social-section i:active {
    transform: scale(1);
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 14px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: 0.3s;
}

.modal-container {
    margin: auto;
    max-width: 500px;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;

    padding-bottom: 10px;

}

.modal-content {
    margin: 20px 0;
    text-align: left;
    font-size: 16px;
    color: #949494;

}

.modal-content h3 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(106, 106, 106);
}

.modal-content .schedule {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 10px 0;
}

.modal-content i {
    margin-right: 10px;
}

.modal-open {
    overflow: auto;
    pointer-events: none;
}

.modal-open .modal-container {
    pointer-events: auto;
}

.modal-close {
    text-decoration: none;
    font-size: 1.5rem;
    color: #1ec3ff;
    cursor: pointer;
    transition: transform 0.3s;
}

.modal-close:hover {
    transform: scale(1.2);
}

.zoom-button {

    margin-top: 25px;
    align-items: center;
    text-align: center;
}

.zoom-button a {
    padding: 8px 15px;
    text-decoration: none;
    background-color: #1ec3ff;
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
}

.clock {
    color: #1ec3ff;
}

.calendar {
    color: #1ec3ff;
}

.map-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    background-color: #fff;
}

.text-section {

    width: 48%;
}

.text {
    margin: 30px;
    padding: 10px;
}

.text h2,
.text p {
    margin: 5px;
}

.text h2 {
    font-size: 32px;
    color: #000000;
}

.location {
    font-size: 18px;
    color: #626262;
}

.address {
    color: #949494;
}

.text p i {
    color: #1ec3ff;
}

.map {
    width: 48%;
}

.map iframe {
    width: 100%;
    height: 300px;
    border: 0;
}

@media (max-width: 767px) {

    .banner {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/images/photos/STV_0975.jpg);
        background-size: cover;
        background-position: center;
    }

    .hosanna {
        width: 30px;
        cursor: pointer;
    }

    .content {
        top: 65%;
    }

    .content h1 {
        font-size: 24px;
        margin: 10px;
    }

    .content a {
        display: inline-block;
        width: 125px;
        padding: 7px 1px;
        text-align: center;
        margin: 5px 15px;
        border-radius: 25px;
        border: 2px solid #1ec3ff;
        background: transparent;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        transition: transform 0.3s;
    }

    .navbar .links,
    .navbar .action-btn {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }

    .social-section i {
        font-size: 3rem;
        color: #000000;
        margin: 25px;
    }

    .social-section h3 {
        font-size: 26px;
    }

    .modal-content {
        margin: 20px 0;
        text-align: left;
        font-size: 12px;

    }

    h2 {
        font-size: 16px;
        margin-right: 5px;
    }

    .modal-content h3 {
        font-size: 14px;
    }


    .map-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #fff;
    }

    .text {
        width: 100%;
    }

    .map {
        width: 100%;
        margin-top: 15px;
    }

    .text h2,
    .text p {
        margin: 5px;
    }

    .text h2 {
        text-align: center;
        font-size: 26px;
        color: #000000;
    }

    .location {
        font-size: 18px;
        color: #626262;
    }

    .address {
        color: #949494;
    }

    .text p i {
        color: #1ec3ff;
    }

    .map iframe {
        width: 100%;
        height: 300px;
        border: 0;
    }


    footer {
        background-color: #000000;
        color: #fff;
        padding: 15px;
        text-align: center;
        font-size: 12px;
    }

}