/* FONTS GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/images/photos/STV_1217.jpg);
    background-size: cover;
    background-position: center;
}

.hosanna {
    width: 50px;
    cursor: pointer;
    color: #E0E0E0;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #E0E0E0;
    text-transform: uppercase;
}

.navbar .toggle-btn {
    color: #E0E0E0;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-btn {
    text-decoration: none;
    background-color: #E0E0E0;
    color: #003053;
    padding: 7px 25px;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s;
}

.action-btn:hover {
    transform: scale(1.2);
}

.action-btn:active {
    transform: scale(1);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #E0E0E0;
    padding: 25px;
    border-radius: 25px;
}

.content span {
    padding-top: 10px;
    padding-bottom: 10px;
}

.content i {
    margin: 10px;
    color: #003053;
    font-size: 25px;
}

.content input {
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    border: none;
    outline: none;
    font-size: 15px;
}

.content button {
    padding: 10px 25px;
    text-transform: uppercase;
    border-radius: 25px;
    margin: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: #003053;
    color: #E0E0E0;
    cursor: pointer;
    transition: transform 0.3s;
}

.content button:hover {
    transform: scale(1.05);
}

.content button:active {
    transform: scale(1);
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 80px;
    height: 0;
    width: 200px;
    background: #003053;
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    z-index: 999;
}

.dropdown-menu.open {

    height: 200px;
    padding: 20px 5px 5px 5px;
}

.dropdown-menu .option a {
    text-decoration: none;
    color: #E0E0E0;
    text-transform: uppercase;
    transition: transform 0.3s;
}

.dropdown-menu .option a:hover {
    transform: scale(1.2);
}

.dropdown-menu .option a:active {
    transform: scale(1);
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-section {
    padding: 25px;
    background-color: #003053;
    text-align: center;
}

.social-section h2 {
    font-size: 32px;
    color: #E0E0E0;
    margin: 10px;
    padding: 5px;
}

.social-section i {
    font-size: 3rem;
    color: #E0E0E0;
    margin: 15px;
    transition: transform 0.3s;
}

.social-section i:hover {
    transform: scale(1.2);
}

.social-section i:active {
    transform: scale(1);
}

footer {
    background-color: #002036;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 14px;
}

@media (max-width: 767px) {

    .banner {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/images/photos/STV_1731.jpg);
        background-size: cover;
        background-position: center;
    }

    .hosanna {
        width: 30px;
        cursor: pointer;
    }

    .content {
        top: 65%;
    }

    .navbar .links,
    .navbar .action-btn {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }



    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 225px;
        text-align: center;
        background-color: #E0E0E0;
        padding: 25px;
        border-radius: 25px;
    }

    .content span {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .content i {
        margin: 10px;
        color: #003053;
        font-size: 22px;
    }

    .content input {
        padding: 10px;
        width: 125px;
        border-radius: 10px;
        margin: 5px;
        border: none;
        outline: none;
        font-size: 15px;
    }

    .content button {
        padding: 10px 25px;
        text-transform: uppercase;
        border-radius: 25px;
        margin: 10px;
        border: none;
        outline: none;
        font-size: 15px;
        background-color: #003053;
        color: #E0E0E0;
        cursor: pointer;
        transition: transform 0.3s;
    }

    .content button:hover {
        transform: scale(1.05);
    }

    .content button:active {
        transform: scale(1);
    }

    .social-section i {
        font-size: 3rem;
        color: #E0E0E0;
        margin: 15px;
    }

    .social-section h2 {
        color: #E0E0E0;
        font-size: 20px;
        margin: 10px;
        padding: 5px;
    }


    footer {
        background-color: #002036;
        color: #E0E0E0;
        padding: 15px;
        text-align: center;
        font-size: 12px;
    }

}